
.snackbar-success {
    background-color: #22c55d;
    color: white;
}

.snackbar-error {
    background-color: #ef4444;
    color: white;
}

.snackbar-warn {
    background-color: #f59e0b;
    color: white;
}
